#container {
    display: flex;
    height: 1000px;
    background-color: green;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

}

#container div {

    height: 100px;
    width: 200px;
    background-color: purple;
    border: solid 10px;
    flex: 1;
}


